
@require 'constants'

.wrap
    width: 100%
    max-width: wrap-max-width
    margin: 0 auto
    background-color: #fff
    font-family: OpenSans, Arial, Tahoma, Helvetica, Liberation Sans,sans-serif

